{% extends "padre.html" %}

{% block title %} Pacientes {% endblock %}

{% block content %}
<h2>Buscar Paciente</h2>

<form method="GET" action="{% url 'buscar-paciente' %}">
    <input type="text" name="nombre" placeholder="Buscar Paciente..." value="{{ nombre }}">
    <button type="submit">Buscar</button>
</form>

<h2>Lista de Pacientes</h2>

<ul>
    {% for paciente in pacientes %}
        <li>{{ paciente.nombre }} {{ paciente.apellido }}</li>
    {% empty %}
        <li>No hay Pacientes registrados.</li>
    {% endfor %}
</ul>

<a href="{% url 'crear-paciente' %}">Agregar Paciente</a>
{% endblock %}