{% extends "padre.html" %}

{% block title %} Cursos {% endblock %}

{% block content %}

<h2>Buscar Curso</h2>

<form method="GET" action="{% url 'buscar-paciente' %}">
    <input type="text" name="nombre" placeholder="Buscar Paciente..." value="{{ nombre }}">
    <button type="submit">Buscar</button>
</form>

<h2>Paciente: </h2>

<ul>
    {% for paciente in paciente %}
        <li>{{ paciente.nombre }}</li>
    {% empty %}
        <li>No hay Paciente registrado.</li>
    {% endfor %}
</ul>

<a href="{% url 'crear-paciente' %}">Agregar Paciente</a>

{% endblock %}