{% extends 'padre.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Sobre este proyecto</h2>
  <p>Este sitio web permite gestionar una clínica médica privada.
Podés registrar doctores, pacientes y estudios, ver sus datos, modificarlos y eliminarlos.
También permite registrarse como usuario, subir un avatar y acceder a funciones exclusivas.
La lista de doctores está disponible para todos, incluso sin iniciar sesión.</p>

  <hr>

  <h3>Sobre mí</h3>
  <p>Me llamo Diego Andrés Palermo Girardi, tengo 36 años y vivo en Santa Rosa del Conlara, San Luis.
Mi familia está formada por mi pareja y mi hija de 4 años.
Trabajo en el banco y además soy analista de sistemas recibido.
</p>
  </p>
</div>
{% endblock %}